.Section5{
    text-align: center;
    margin: 30px 0px;
    font-family: cursive;
    padding: 20px 0px;

}

.Section5 h1{
    text-align: start;
    margin-bottom: 20px ;
}

.form_content{
    display: flex;
    flex-direction: column;
    gap: 20px;
    
}

.form_content input{
    padding: 10px ;
    color: #75757E ;    
    outline: none;
}



.select{
    color: #75757E ;
    padding: 10px;
    outline: none;

}
